@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

:root {
  --dark: #111827;
  --grey: #393e46;
  --blue: #00adb5;
  --light: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: var(--light);
}

a {
  text-decoration: none;
}

body {
  background: var(--dark);
}

.title {
  padding: 7rem 0 1rem 0;
  font-size: 4rem;
  font-family: "Berkshire Swash", cursive;
  font-weight: bold;
  text-shadow: 0.4rem 0.4rem var(--grey);
}

.container {
  width: 100%;
  padding: 0 20%;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .title {
    text-align: center;
    font-size: 3rem;
  }

  .container {
    padding: 0 7%;
  }
}
